.app-container {
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.card-img-top {
  min-height: 220px;
  height: auto;
}

.card {
  /* max-width: 80%; */
  padding: 1rem;
}

.card-row {
  margin: 0px !important;
}

.card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 0.625rem;
}

.card-text-value {
  color: var(--primary-color);
  margin-left: 5px;
}

.card-block p {
  margin-bottom: 5px;
}

.img-div {
  background-color: #dcdcdc;
  text-align: center;
  margin: 0rem auto;
  min-width: 100%;
}

.dataLake-panel-container {
  max-height: calc(100vh - 100px);
  overflow: auto;
  padding: 0rem !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.card-row {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid !important;
  grid-gap: 25px;
}

.card-text-label {
  font-weight: 600;
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
  .cards-container {
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
    max-width: 66%;
    position: relative;
    width: 100%;
  }
  .filter {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .cards-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
  .filter {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .cards-container {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
  }
  .filter {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .card-row {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    grid-gap: 10px;
  }
  .yearBtn {
    font-size: 0.825rem !important;
    font-weight: 500 !important;
  }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
  .card-row {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-gap: 10px;
  }
  .card-text-value {
    font-size: 18px;
  }
  .card-text-label {
    font-size: 18px;
  }
  .card-title {
    font-size: 18px;
  }
  .filter {
    border-radius: 8px;
    padding: 0px !important;
    align-self: start;
  }
  .filterHeading {
    grid-template-columns: 40% 60% !important;
  }
  .card-subtitle {
    font-size: 18px;
  }
  .yearBtn {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }
  .cards-container{
    padding: 0px !important;
  }
  
}


.filterCard {
  padding: 0rem !important;
}

.filterCard-body {
  padding: 0.625rem !important;
}

.filter-title {
  margin: 0rem 0rem 0.625rem;
  color: black;
  font-size: 1rem;
}

.launchDivider {
  border-top: 2px solid;
  margin: 0px 25%;
  opacity: 0.2;
}

.card-subtitle {
  text-align: center;
  margin-bottom: 0rem !important;
  color: black !important;
}

.yearToolbar {
  margin: 0.625rem 0rem !important;
  justify-content: space-around !important;
}

.yearBtn {
  padding: 0.175rem 0.75rem !important;
  font-size: 0.825rem;
  color: black !important;
  background-color: #b1db9a !important;
  border-color: #b1db9a !important;
}

.buttonHide {
  visibility: hidden;
}

.yearBtn:focus {
  box-shadow: none !important;
}

/* .yearToolbarLast {
  justify-content: flex-start !important;
  margin-left: 15% !important;
} */

.successFilter {
  margin-top: 1.5rem;
}

.filterHeading {
  display: grid;
  grid-template-columns: 40% 60%;
}

.resetButton:hover,
.resetButton:focus {
  text-decoration: none !important;
}

.resetButton {
  margin: 0rem 0rem 0.625rem;
  padding: 0rem !important;
}

.active {
  background-color: #7cba01 !important;
  padding: 0.175rem 0.75rem !important;
  font-size: 0.825rem !important;
  color: black;
  border-radius: 0.25rem;
  border: #7cba01 !important;
}

.active:focus {
  outline: none !important;
}
